<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Prices</key>
	<array>
		<string>559,1329</string>
		<string>898,1185</string>
		<string>479-1139</string>
		<string>758,1045</string>
	</array>
	<key>Sizes</key>
	<array>
		<string>XXL</string>
		<string>XL</string>
		<string>L</string>
		<string>S</string>
		<string>M</string>
	</array>
	<key>Type of clothing</key>
	<array>
		<dict>
			<key>Trousers</key>
			<string>jeans</string>
		</dict>
		<dict>
			<key>dress</key>
			<string>dresses</string>
		</dict>
		<dict>
			<key>Pant</key>
			<string>jeans</string>
		</dict>
		<dict>
			<key>Top</key>
			<string>dresses</string>
		</dict>
		<dict>
			<key>Jeans</key>
			<string>jeans</string>
		</dict>
		<dict>
			<key>T-Shirt</key>
			<string>casual-shirts</string>
		</dict>
		<dict>
			<key>Shirt</key>
			<string>casual-shirts</string>
		</dict>
	</array>
	<key>Brands</key>
	<array>
		<string>Mango</string>
		<string>Ed Hardy</string>
		<string>American Swan</string>
		<string>20Dresses</string>
		<string>Lee Cooper</string>
		<string>Levis</string>
		<string>Wrangler</string>
		<string>Reebok</string>
		<string>Adidas</string>
		<string>Puma</string>
		<string>Nike</string>
		<string>Pepe Jeans</string>
		<string>BIBA</string>
		<string>Anouk</string>
		<string>HRX</string>
		<string>RoadSter</string>
		<string>Lee</string>
		<string>Mango</string>
		<string>Yepme</string>
		<string>Campus Sutra</string>
	</array>
	<key>Gender</key>
	<array>
		<dict>
			<key>wife</key>
			<string>women</string>
		</dict>
		<dict>
			<key>girlfriend</key>
			<string>women</string>
		</dict>
		<dict>
			<key>female</key>
			<string>women</string>
		</dict>
		<dict>
			<key>women</key>
			<string>women</string>
		</dict>
		<dict>
			<key>boyfriend</key>
			<string>men</string>
		</dict>
		<dict>
			<key>husband</key>
			<string>men</string>
		</dict>
		<dict>
			<key>male</key>
			<string>men</string>
		</dict>
		<dict>
			<key>men</key>
			<string>men</string>
		</dict>
	</array>
	<key>Colour</key>
	<array>
		<string>any colour</string>
		<string>red</string>
		<string>green</string>
		<string>blue</string>
		<string>yellow</string>
		<string>black</string>
		<string>white</string>
	</array>
</dict>
</plist>
