<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Type of clothing</key>
	<array>
		<string>Pant</string>
		<string>Top</string>
		<string>Jeans</string>
		<string>T-Shirt</string>
		<string>Shirt</string>
	</array>
	<key>Brands </key>
	<array>
		<string>Campus Sutra</string>
		<string>Roadster</string>
		<string>Levis</string>
	</array>
	<key>Category</key>
	<array>
		<string>Clothing</string>
		<string>Footwear</string>
		<string>Formal</string>
		<string>Accessories</string>
		<string>Grooming</string>
	</array>
	<key>Gender</key>
	<array>
		<string>Male</string>
		<string>Female</string>
	</array>
	<key>Color</key>
	<array>
		<string>Red</string>
		<string>Green</string>
		<string>Blue</string>
		<string>Yellow</string>
		<string>Black</string>
		<string>White</string>
	</array>
</dict>
</plist>
