<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Sizes</key>
	<array>
		<string>XL</string>
		<string>L</string>
		<string>S</string>
		<string>M</string>
	</array>
	<key>Type of clothing</key>
	<array>
		<string>Pant</string>
		<string>Top</string>
		<string>Jeans</string>
		<string>T-Shirt</string>
		<string>Shirt</string>
	</array>
	<key>Brands </key>
	<array>
		<string>Ed Hardy</string>
		<string>American Swan</string>
		<string>20Dresses</string>
		<string>Lee Cooper</string>
		<string>Levis</string>
	</array>
	<key>Gender</key>
	<array>
		<string>men</string>
		<string>women</string>
	</array>
	<key>Color</key>
	<array>
		<string>any colour</string>
		<string>red</string>
		<string>green</string>
		<string>blue</string>
		<string>yellow</string>
		<string>black</string>
		<string>white</string>
	</array>
</dict>
</plist>
